* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;

  background-color: black;
  margin: 0;
}

.main_store {
  display: grid;

  grid-template-columns: 10fr 20fr 20fr 20fr 10fr;
  grid-template-rows: 10fr 80fr 10fr;
  grid-template-areas:
    "header header header header header"
    ". gallery gallery gallery ."
    "footer footer footer footer footer";

  margin: 0;
  row-gap: 8rem;
  justify-content: center;
}

/*
Header
*/
header {
  display: grid;
  grid-template-columns: 33fr 33fr 33fr;
  grid-template-rows: auto auto auto;

  background-color: rgb(47, 255, 127);

  grid-area: header;
}

header h1 {
  justify-self: center;
  font-weight: 900;
  align-self: center;
  font-size: 5rem;
  grid-column: 2;
  grid-row: 2;
}

#ninja {
  align-self: end;
  justify-self: center;
  grid-column: 2;
  grid-row: 3;
}

#navcon {
  grid-column: 1;
  margin: 1.5;
}

/*
Gallery Grid
*/

.gallery {
  display: grid;
  grid-template-columns: 16.5% 16.5% 16.5% 16.5% 16.5% 16.5%;
  grid-template-rows: auto auto auto auto;
  row-gap: 4rem;
  column-gap: 2rem;
  margin: 0;
  background-color: rgb(0, 0, 0);
  grid-area: gallery;
  justify-content: center;
}

/*
Card
*/

.card {
  color: white;
  grid-column-start: span 2;
  max-width: 100%;
}

.card img {
  max-width: 100%;
  object-fit: cover;
}

.card p {
  font-size: 1.2rem;
}

.card h1 {
  font-size: 2.5em;
}

.card button {
  background-color: rgb(252, 81, 146);
  width: 40fr;
  height: 3rem;
  padding: 1rem;
  border-radius: 0.4rem;
  border-style: none;
  color: white;
  font-weight: 600;

  margin-top: 2rem;
  margin-bottom: 6rem;
  text-align: center;
}

/*
Footer
*/

footer {
  height: 300fr;
  background-color: rgb(82, 82, 82);
  grid-area: footer;
}

.footer_content {
  display: grid;
  grid-template-columns: 33fr 33fr 33fr;

  row-gap: 2rem;
  column-gap: 2rem;
  width: 80fr;
  color: white;
  margin-top: 2rem;
  margin-left: 7%;
}

.footer_content ul {
  list-style: none;
}

.footer_content li {
  margin-bottom: 0.4rem;
}

.footer_content a {
  color: white;
  text-decoration-line: none;
}

/*

Checkout_page


*/

.main_checkout {
  display: grid;
  grid-template-columns: 10fr 20fr 20fr 20fr 10fr;
  grid-template-rows: 10fr auto 10fr;
  grid-template-areas:
    "header header header header header"
    ". gallery_checkout gallery_checkout gallery_checkout ."
    "footer footer footer footer footer";

  margin: 0;
  row-gap: 8rem;
  justify-content: center;
}

.gallery_checkout {
  display: grid;
  grid-template-columns: 16.5% 16.5% 16.5% 16.5% 16.5% 16.5%;
  grid-template-rows: auto auto auto;
  column-gap: 2rem;
  margin-bottom: 8rem;
  grid-area: gallery_checkout;
  justify-content: center;
}

.checkout {
  display: grid;
  color: white;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: auto auto auto 1px auto auto;
  font-size: 2rem;
  grid-column-start: span 6;
  margin-top: 8rem;
}

.checkout button {
  background-color: rgb(252, 81, 146);
  color: white;
  font-weight: 600;
  height: auto;
  padding: 1.5rem 1rem 1.5rem 1rem;
  border-radius: 0.4rem;
  max-width: fit-content;

  text-align: center;
  grid-column: 3;
  grid-row: 6;
  justify-self: right;
  font-size: 1.5rem;
  margin-top: 6rem;
}

.vara {
  grid-column: 1;
  text-align: left;
}

.antal {
  grid-column: 2;
  text-align: center;
}

.price {
  grid-column: 3;

  text-align: right;
}

.markerad {
  background-color: rgb(49, 17, 17);
  font-size: 1.4rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  margin: 0;
}

.bold {
  font-weight: 900;
}
.line {
  background-color: aliceblue;
}

#varor {
  margin-top: 7rem;
  margin-bottom: 4rem;
  color: rgb(255, 255, 255);
  font-size: 3rem;
  grid-column-start: span 6;
}

.cardLarge {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  padding-bottom: 0.05em;
  grid-column-start: span 3;
  max-width: 100%;
  object-fit: cover;
}

.cardLarge p {
  font-size: 1.2rem;
  margin-left: 1rem;
  margin-top: 0.3rem;
}

.cardLarge img {
  width: 100%;
  object-fit: cover;
}

.cardLarge h1 {
  font-size: 2rem;
  margin-top: 0.75em;
  margin-bottom: 0.75em;
  margin-left: 1rem;
  font-weight: 700;
}

.cardLarge button {
  display: flex;
  background-color: rgb(252, 81, 146);
  height: 4ema;
  padding: 2rem 3rem 2rem 3rem;
  border-radius: 0.4rem;
  border-style: none;
  color: white;
  font-weight: 600;
  align-items: center;
  margin-top: 5em;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

/*
Media queries
*/

@media only screen and (max-width: 768px) {
  .main_store {
    display: grid;
    justify-content: center;
    grid-template-columns: 10fr 80fr 10fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "header header header"
      ". gallery ."
      "footer footer footer";

    gap: 2fr;
    justify-items: stretch;
  }

  header {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 33fr 33fr 33fr;
    grid-template-rows: auto auto auto;

    background-color: rgb(47, 255, 127);

    border: none;
    grid-area: header;
  }

  .gallery {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto;
    row-gap: 2rem;
    column-gap: 0;

    margin: 0rem;
    background-color: rgb(0, 0, 0);
    grid-area: gallery;

    align-items: stretch;
  }

  .footer {
    display: grid;

    grid-area: footer;
    background-color: grey;
    grid-template-columns: 100fr;
    border: none;
    margin: 0;
  }

  .footer_content {
    display: grid;
    grid-template-columns: 20fr 80fr 20fr;

    grid-template-rows: 33fr 33fr 33fr;

    column-gap: 2rem;

    color: white;
    margin-top: 2rem;
  }

  #footer_adress {
    grid-column: 2;
    grid-row: 2;
  }

  #footer_media {
    grid-column: 2;
    grid-row: 3;
  }

  #footer_nav {
    grid-column: 2;
    grid-row: 1;
  }

  /*
Checkout media queries
*/

  .main_checkout {
    display: grid;
    justify-content: center;
    grid-template-columns: 10% auto 10%;
    grid-template-rows: auto auto auto;

    grid-template-areas:
      " header header header "
      ". gallery_checkout ."
      " footer footer footer ";

    margin: 0;
    row-gap: 8rem;
    justify-items: center;
  }

  .gallery_checkout {
    display: flex;
    flex-direction: column;

    margin: 0rem;
    background-color: rgb(0, 0, 0);
    grid-area: gallery_checkout;
    gap: 2rem;
  }

  .cardLarge {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    padding-bottom: 0.05em;

    max-width: 100%;
    object-fit: cover;
  }
}
