* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;

  background-color: black;
  margin: 0;
}

header {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 33fr 33fr 33fr;
  grid-template-rows: auto auto auto;

  background-color: rgb(47, 255, 127);

  border: none;
  grid-area: header;
}

main {
  display: grid;
  justify-content: center;
  grid-template-columns: 10fr 27fr 27fr 27fr 10fr;
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
    "header header header header header"
    ". gallery gallery gallery . "
    ". galleryL galleryL galleryL ."
    " footer footer footer footer footer";

  gap: 4rem;
}

.gallery {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 25% 25% 25% auto;
  row-gap: 4rem;
  column-gap: 2rem;
  margin: 0;
  background-color: rgb(0, 0, 0);
  grid-area: gallery;

  align-items: stretch;
}

.galleryLarge {
  display: grid;
  grid-template-columns: 50fr 50fr;
  column-gap: 2rem;
  margin-bottom: 8rem;
  grid-area: galleryL;
}

.card {
  color: white;
}

.card img {
  width: 100%;
}

.card p {
  font-size: 1.2rem;
}

.card h1 {
  font-size: 2.5em;
}

.card button {
  background-color: rgb(252, 81, 146);
  width: 40fr;
  height: 3rem;
  padding: 1rem;
  border-radius: 0.4rem;
  border-style: none;
  color: white;
  font-weight: 600;

  margin-top: 2rem;
  margin-bottom: 6rem;
  text-align: center;
}

footer {
  height: 300fr;
  background-color: rgb(82, 82, 82);
  grid-area: footer;
}

#ninja {
  align-self: end;
  justify-self: center;
  grid-column: 2;
  grid-row: 3;
}

header h1 {
  justify-self: center;
  font-weight: 900;
  align-self: center;
  font-size: 5rem;
  grid-column: 2;
  grid-row: 2;
}

#navcon {
  grid-column: 1;
  margin: 1.5;
}

footer {
  display: grid;
  justify-content: center;
  grid-area: footer;
}

.footer_content {
  display: grid;
  grid-template-columns: 33fr 33fr 33fr;

  row-gap: 2rem;
  column-gap: 2rem;
  width: auto;
  color: white;
  margin-top: 2rem;
}

.footer_content ul {
  list-style: none;
}

.footer_content li {
  margin-bottom: 0.4rem;
}

.footer_content a {
  color: white;
  text-decoration-line: none;
}

.checkout {
  display: grid;
  color: white;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: auto auto auto 1px auto auto;
  font-size: 2rem;
}

.checkout button {
  background-color: rgb(252, 81, 146);
  color: white;
  font-weight: 600;
  height: 4rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 0.4rem;
  max-width: fit-content;

  text-align: center;
  grid-column: 3;
  grid-row: 5;
  justify-self: right;
  font-size: 1.5rem;
  margin-top: 6rem;
}

.vara {
  grid-column: 1;
  text-align: left;
}

.antal {
  grid-column: 2;
  text-align: center;
}

.price {
  grid-column: 3;

  text-align: right;
}

.markerad {
  background-color: rgb(49, 17, 17);
  font-size: 1.4rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  margin: 0;
}

.bold {
  font-weight: 900;
}
.line {
  background-color: aliceblue;
}

#vit {
  margin-top: 8rem;
  margin-bottom: 4rem;
  color: white;
  font-size: 3rem;
}

.cardLarge {
  width: 50%;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  padding-bottom: 0.05em;
}

.cardLarge p {
  font-size: 1.2rem;
  margin-left: 1rem;
  margin-top: 0.3rem;
}

.cardLarge img {
  width: 50%;
}

.cardLarge h1 {
  font-size: 2rem;
  margin-top: 0.75em;
  margin-bottom: 0.75em;
  margin-left: 1rem;
  font-weight: 700;
}

.cardLarge button {
  display: flex;
  background-color: rgb(252, 81, 146);
  height: 4em;
  padding: 2rem 3rem 2rem 3rem;
  border-radius: 0.4rem;
  border-style: none;
  color: white;
  font-weight: 600;
  align-items: center;
  margin-top: 5em;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 768px) {
  main {
    display: grid;
    justify-content: center;
    grid-template-columns: 10fr 80fr 10fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "header header header"
      ". gallery ."
      "footer footer footer";

    gap: 1fr;
    justify-items: stretch;
  }

  header {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 33fr 33fr 33fr;
    grid-template-rows: auto auto auto;

    background-color: rgb(47, 255, 127);

    border: none;
    grid-area: header;
  }

  .gallery {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    row-gap: 2rem;

    margin: 0rem;
    background-color: rgb(0, 0, 0);
    grid-area: gallery;

    align-items: stretch;
  }

  .footer {
    display: grid;

    grid-area: footer;
    background-color: grey;
    grid-template-columns: 100fr;
  }

  .footer_content {
    display: grid;
    grid-template-columns: 20fr 80fr 20fr;

    grid-template-rows: 33fr 33fr 33fr;

    column-gap: 2rem;

    color: white;
    margin-top: 2rem;
  }

  #footer_adress {
    grid-column: 2;
    grid-row: 2;
  }

  #footer_media {
    grid-column: 2;
    grid-row: 3;
  }

  #footer_nav {
    grid-column: 2;
    grid-row: 1;
  }
}
